* {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
}

body {
  font-size: 1.1em;
  line-height: 1.5;
  color: #222;
  font-family: Verdana,Tahoma, sans-serif;
  margin: 0;
  padding: 0.5em 0 2em 0;
  background-image: url('../img/sun.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}

h1 {
  font-size: 1.5em;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 1.5em;
}

form p {
  font-size: 1.2em;
}

h1, p {
  color: white;
  text-shadow: 0px 0px 3px #000000;
}

main {
  width: 95%;
  margin: 0 auto;
  position: relative;
}

img {
  width: 100%;
}

button {
  font-size: 1.15em;
  font-weight: bold;
  display: block;
  padding: 1em;
  color: #074473;
  background-color: white;
  border: none;
  border-radius: 5px;
  margin: auto;
}

button:hover {
  cursor: pointer;
}

form p {
  text-align: center;
}

#aladin-lite-div {
  margin: 0 auto;
}

.result, .nextresult {
  font-size: 1.2em;
  display: none;
  background-color: rgba(50,50,50,0.7);
  padding: 20px;
  border-radius: 10px;
}

input {
  text-align: center;
  font-size: 1.5em;
  width: 100%;
  padding: 16px;
}

.nowrap {
  white-space: nowrap;
}

.starchart {
  width: 100%;
  position: relative;
  margin-bottom: 0;
}


.map {
  background-color: #000000;
  border: 1px solid black;
  width: 100%;
  height: auto;
  background-image: url('../img/starmap_figures.png');
}

.pointer {
  width: 5%;
  position: absolute;
}

/* MEDIA QUERIES */

@media (min-width: 568px) {
  main {
    width: 65%;
  }
  form {
    width: 70%;
    margin: 20px auto;
  }
  label {
    width: 30%;
  }
}

@media (min-width: 768px) {
  main {
    width: 70%;
    max-width: 900px;
  }  

  label {
    width: 30%;
  }
}
