* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Verdana,Tahoma, sans-serif;
    background-color: #16191e;
}

canvas, p {
    display: block;
    margin: 0 auto;
}

h1, p, h2 {
    text-align: center;
    color: white;
    margin: 1em auto;
}

footer {
    line-height: 1.8em;
    text-align: center;
    position: absolute;
    font-size: 0.8em;
    bottom: 0;
    width: 100%;
  }