* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Verdana,Tahoma, sans-serif;
    background-color: #16191e;
}

canvas, p {
    display: block;
    margin: 0 auto;
}

h1, p, h2, li {
    text-align: center;
    color: white;
    margin: 2vh auto;
}

img {
    width: 1em;
    margin-right: 1em;
}

ul {
  list-style-type: none;
  padding-left: 0;
  padding-top: 1em;
}

footer {
    line-height: 1vh;
    text-align: center;
    position: absolute;
    font-size: 0.8em;
    bottom: 0;
    width: 100%;
  }

@media (min-height: 600px) {
    canvas {
        margin-top: 10vh;
    }
  }
