* {
    box-sizing: border-box;
    padding: 0;
	margin: 0;
    font-family: 'Segoe UI', 'Tahoma', 'Verdana';
}

body {
	background: url("./view.jpg") no-repeat fixed center top;
	color:#FFF;
}

main {
    margin:0 auto;
    width: 50vw;
}

p {
    line-height: 2;
}

.centered {
    text-align: center;
    margin-top: 4vw;
    margin-bottom: 4vw;
    text-shadow: 0px 0px 10px #000000;
}

.button {
    display: inline-block;
    background-color: #62A3EE;
    margin: auto;
    width: 200px;
    text-align: center;
    font-size: 130%;
    font-weight: bolder;
    color: black;
    border-radius: 5px;
}

form {
    display: inline-block;
    text-align: center;
    line-height: 250%;
    background-color: #10100D;
    border-radius: 5%;
    padding: 20px;
}

.form {
    width: 250px;
    margin: 0 auto;
}

form input, form label {
    height: 200%;
}

#unhide {
    display: none;
}

span {
    text-decoration: solid;
}

table {
    margin:0 auto;
    width:50vw;
}

p, td, label, input {
    text-align: center;
    font-size: 25px;
    margin:0;
  }

td p {
    line-height: 1.8em;
    font-size: 20px;
}

tr {
    background:#22221E;
}

td:nth-child(1){
    width: 30%;
    background: rgba(0,0,0,.9);
}

tr:nth-child(even){
    background:#0E0E0C;
}


@media screen and (max-width: 1130px) {
	table {
        width: 98%;
        padding: 0;
        margin: 0;
    }
    
    td:nth-child(even){
        width: 30%;
    }

    img{
        width: 100%;
    }

    main, body {
        padding: 0;
        margin: 0;
        width: 98vw;
    }
    
    td, label, input {
        font-size: 120%;
      }

    p {
        font-size: 1.5em;
        width: auto;
        padding: 5%;
        text-align: center;
    }

    .centered {
        text-align: center;
        margin-top: initial;
        margin-bottom: initial;
    }
}

@media screen and (max-width: 700px){
    p {
        font-size: 1.2em;
        width: auto;
        padding: 5%;
        text-align: center;
    }
}