* {
    box-sizing: border-box;
    padding: 0;
	margin: 0;
    font-family: 'Segoe UI', 'Tahoma', 'Verdana';
}

body {
	background:#3d3d3d;
	color:#fff;
}

main {
    margin:0 auto;
    width: 50vw;
}

p {
    line-height: 2;
}

.centered {
    text-align: center;
    margin-top: 4vw;
    margin-bottom: 4vw;
}

.button {
    display: inline-block;
    margin: auto;
    width: 200px;
    background-color: rgb(98, 112, 133);
    text-align: center;
    font-size: 130%;
}

form {
    display: inline-block;
    text-align: center;
    line-height: 250%;
    background-color: #333131;
    border-radius: 5%;
    padding: 20px;
}

.form {
    width: 250px;
    margin: 0 auto;
}

form input, form label {
    height: 200%;
}

.button {
    border-radius: 5px;
}

#unhide {
    display: none;
}

span {
    text-decoration: solid;
}

table {
    margin:0 auto;
    width:50vw;
    box-shadow: 0 0 0 5px rgb(59, 52, 52);
}

p, td, label, input {
    text-align: center;
    font-size: 25px;
    margin:0;
  }

td p {
    line-height: 1.8em;
    font-size: 20px;
}

tr {
    background:#333131;
}

td:nth-child(1){
    width: 30%;
    background: black;
}

tr:nth-child(even){
    background:#201f1f;
}


@media screen and (max-width: 1130px) {
	table {
        width: 98%;
        padding: 0;
        margin: 0;
    }
    
    td:nth-child(even){
        width: 30%;
    }

    img{
        width: 100%;
    }

    main, body {
        padding: 0;
        margin: 0;
        width: 98vw;
    }
    
    td, label, input {
        font-size: 120%;
      }

    p {
        font-size: 1.5em;
        width: auto;
        padding: 5%;
        text-align: center;
    }

    .centered {
        text-align: center;
        margin-top: initial;
        margin-bottom: initial;
    }
}

@media screen and (max-width: 700px){
    p {
        font-size: 1.2em;
        width: auto;
        padding: 5%;
        text-align: center;
    }
}